#modal__call.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
      svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
        metadata
          x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
            rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
              rdf:description(rdf:about='')
        defs
        path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')
    .modal-content.modal__content.modal__content--small
      .modal__heading.modal__heading--white!=content.index.modal.header.heading
      .modal__box 
        .modal__subheading!=content.index.modal.header.subheading 
        form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
          .row
            .col-24 
              div
                input.form-control.form__input.modal__input.form__input--phone.form__phone(aria-invalid='false', placeholder="+38 (___) ___-__-__", name='phone', type='tel', data-error='Введите телефон', required)
                p.help-block.with-errors
            .col-24     
              button.btn.button.button--size(name='form', value='Хедер модалка', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...")
                .modal__btn--text!=content.index.modal.header.btn  
              .success
            .col-24
              .modal__access
                !=content.index.modal.header.access.text                
#modal__header.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__size
    button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
      svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
        metadata
          x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
            rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
              rdf:description(rdf:about='')
        defs
        path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')
    .modal-content.modal__content
      i.ic.ic--modalic1.hidden-sm-down
      i.ic.ic--modalic2.hidden-sm-down      
      .modal__heading!=content.index.modal.nav.heading 
      .modal__subheading!=content.index.modal.nav.subheading 
      form.contact__form.contactForm.contactForm--modal(method='post', action='./mail/mail.php')
        .row
          .col-24 
            div
              input.form-control.form__input.modal__input.form__input--phone.form__phone(aria-invalid='false', placeholder="+38 (___) ___-__-__", name='phone', type='tel', data-error='Введите телефон', required)
              p.help-block.with-errors
          .col-24     
            button.btn.button.button--size(name='form', value='Обратный звонок', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...")
              .modal__btn--text!=content.index.modal.nav.btn  
            .success
          .col-24
            .modal__access
              !=content.index.modal.nav.access.text            
#modal__confident.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
  .modal-dialog.modal__big
    button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
          metadata
            x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
              rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                rdf:description(rdf:about='')
          defs
          path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')
    .modal-content.modal__content
      .confident
        .confident__title ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
        .confident__subtitle
          | Настоящая Политика конфиденциальности персональных данных (далее - политика конфиденциальности) действует
          | в отношении всей информации, которую  сайт "БГ Деловая", расположенный на доменном имени delovaya.com.ua
          | может получить о Пользователе во время использования сайта, программ и продуктов сайта "БГ Деловая".
        p.confident__heading 1. ОПРЕДЕЛЕНИЕ ТЕРМИНОВ
        p.confident__text 1.1. В настоящей Политике конфиденциальности используются следующие термины:
        p.confident__text
          | 1.1.1. "Администрация сайта (далее - Администрация сайта)" - уполномоченные сотрудники на управление сайтом, действующие от имени Индивидуального предпринимателя Ескина Артёма Евгеньевича, которые организуют и (или) осуществляют обработку персональных данных, а также определяют цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
        p.confident__text
          | 1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
        p.confident__text
          | 1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
        p.confident__text
          | 1.1.4.«Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
        p.confident__text
          | 1.1.5. «Пользователь сайта "БГ Деловая" (далее ? Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт.
        p.confident__text
          | 1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
        p.confident__text
          | 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу IP.
        p.confident__heading 2. ОБЩИЕ ПОЛОЖЕНИЯ
        p.confident__text
          | 2.1.  Использование Пользователем сайта "БГ Деловая" означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
        p.confident__text
          | 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта.
        p.confident__text
          | 2.3.Настоящая Политика конфиденциальности применяется только к сайту сайт "БГ Деловая". Сайт не контролирует и не несет ответственность за сайты третьих лиц, на которые Пользователь может перейти по ссылкам, доступным на сайте "БГ Деловая".
        p.confident__text
          | 2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта "БГ Деловая".
        p.confident__heading 3. ПРЕДМЕТ ПОЛИТИКИ КОНФИДЕНЦИАЛЬНОСТИ
        p.confident__text
          | 3.1.  Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта "БГ Деловая" по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте "БГ Деловая".
        p.confident__text
          | 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения регистрационных форм на данном Сайте и могут включать в себя следующую информацию:
        p.confident__text 3.2.1. фамилию, имя, отчество Пользователя;
        p.confident__text 3.2.2. контактный телефон Пользователя;
        p.confident__text 3.2.3. адрес электронной почты (e-mail) Пользователя;
        p.confident__text 3.2.4. адрес доставки Товара(ов) Пользователю;
        p.confident__text 3.2.5. место жительство Пользователя;
        p.confident__text 3.2.6. логин Пользователя.
        p.confident__text
          | 3.3. Сайт "БГ Деловая" защищает Данные, которые автоматически передаются в процессе просмотра рекламных блоков и при посещении страниц, на которых установлен статистический скрипт системы ("пиксель"):
        ul
          li IP адрес;
          li Информация из cookies;
          li
            | информация о браузере (или иной программе, которая осуществляет доступ к показу рекламы);
          li Время доступа;
          li Адрес страницы, на которой расположен рекламный блок;
          li Реферер (адрес предыдущей страницы).
        p.confident__text
          | 3.3.1. Отключение cookies может повлечь невозможность доступа к частям сайта "БГ Деловая", требующим авторизации.
        p.confident__text
          | 3.3.2. Сайт "БГ Деловая" осуществляет сбор статистики об IP-адресах своих посетителей. Данная информация используется с целью выявления и решения технических проблем, для контроля законности проводимых финансовых платежей.
        p.confident__text
          | 3.4. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и
          | операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев,
          | предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
        p.confident__heading 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
        p.confident__text
          | 4.1. Персональные данные Пользователя Администрация сайта "БГ Деловая" может использовать в целях:
        p.confident__text
          | 4.1.1. Идентификации Пользователя, зарегистрированного на сайте, для оформления заявки и (или) заключения Договора дистанционным способом с сайт "БГ Деловая".
        p.confident__text
          | 4.1.2. Предоставления Пользователю доступа к персонализированным ресурсам Сайта интернет-магазина.
        p.confident__text
          | 4.1.3. Установления с Пользователем обратной связи, включая направление уведомлений, запросов, касающихся использования сайта "БГ Деловая", оказания услуг, обработка запросов и заявок от Пользователя.
        p.confident__text
          | 4.1.4 Определения места нахождения Пользователя для обеспечения безопасности, предотвращения мошенничества.
        p.confident__text
          | 4.1.5 Подтверждения достоверности и полноты персональных данных, предоставленных Пользователем.
        p.confident__text
          | 4.1.6 Создания учетной записи для совершения покупок, если Пользователь дал согласие на создание учетной записи.
        p.confident__text 
          | 4.1.7 Уведомления Пользователя сайта "БГ Деловая" о состоянии заявки.
        p.confident__text
          | 4.1.8 Обработки и получения платежей, подтверждения налога или налоговых льгот, оспаривания платежа.
        p.confident__text
          | 4.1.9 Предоставления Пользователю эффективной клиентской и технической поддержки при возникновении проблем связанных с использованием сайта "БГ Деловая".
        p.confident__text
          | 4.1.10 Предоставления Пользователю с его согласия, обновлений продукции, специальных предложений, информации о ценах, новостной рассылки и иных сведений от имени сайта "БГ Деловая" или от имени партнеров сайта.
        p.confident__text 4.1.11 Осуществления рекламной деятельности с согласия Пользователя.
        p.confident__text
          | 4.1.12 Предоставления доступа Пользователю на сайты или сервисы партнеров сайта "БГ Деловая" с целью получения продуктов, обновлений и услуг.
        p.confident__heading 5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ
        p.confident__text
          | 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом,
          | в том числе в информационных системах персональных данных с использованием средств автоматизации или без
          | использования таких средств.
        p.confident__text
          | 5.2. Пользователь соглашается с тем, что Администрация сайта вправе передавать персональные данные третьим лицам, в частности, организациями почтовой связи, операторам электросвязи, исключительно в целях выполнения заявки Пользователя, оформленного на сайте "БГ Деловая".
        p.confident__text
          | 5.3. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Украины только по основаниям и в порядке, установленным законодательством Украины.
        p.confident__text
          | 5.4. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об
          | утрате или разглашении персональных данных.
        p.confident__text
          | 5.5. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной
          | информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования,
          | копирования, распространения, а также от иных неправомерных действий третьих лиц.
        p.confident__text
          | 5.6. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению
          | убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных
          | Пользователя.
        p.confident__heading 6. ОБЯЗАТЕЛЬСТВА СТОРОН
        p.confident__text.bold 6.1. Пользователь обязан:
        p.confident__text
          | 6.1.1. Предоставить информацию о персональных данных, необходимую для пользования сайтом "БГ Деловая".
        p.confident__text
          | 6.1.2. Обновить, дополнить предоставленную информацию о персональных данных в случае изменения данной информации.
        p.confident__text.bold 6.2. Администрация сайта обязана:
        p.confident__text
          | 6.2.1. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей
          | Политики конфиденциальности.
        p.confident__text
          | 6.2.2. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного
          | письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение
          | иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3.
          | настоящей Политики Конфиденциальности.
        p.confident__text
          | 6.2.3. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя
          | согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
        p.confident__text
          | 6.2.4. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента
          | обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите
          | прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных
          | или неправомерных действий.
        p.confident__heading 7. ОТВЕТСТВЕННОСТЬ СТОРОН
        p.confident__text
          | 7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Украины, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
        p.confident__text
          | 7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт
          | ответственность, если данная конфиденциальная информация:
        p.confident__text 7.2.1. Стала публичным достоянием до её утраты или разглашения.
        p.confident__text
          | 7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
        p.confident__text
          | 7.2.3. Была разглашена с согласия Пользователя.
        p.confident__heading 8. РАЗРЕШЕНИЕ СПОРОВ
        p.confident__text
          | 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта
          | Интернет-магазина и Администрацией сайта, обязательным является предъявление претензии (письменного
          | предложения о добровольном урегулировании спора).
        p.confident__text
          | 8.2. Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет
          | заявителя претензии о результатах рассмотрения претензии.
        p.confident__text
          | 8.3.  При недостижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Украины.
        p.confident__text
          | 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Украины.
        p.confident__heading 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
        p.confident__text
          | 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
        p.confident__text
          | 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте интернет-магазина, если
          | иное не предусмотрено новой редакцией Политики конфиденциальности.
        p.confident__text
          | 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует адресовать на электронный адрес: bg.delovaya@gmail.com
        p.confident__text
          | 9.4. Действующая Политика конфиденциальности размещена на странице по адресу delovaya.com.ua              
#test__modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
  .modal-dialog.modal__size
    .modal-content
      button.close.modal__close(type='button', data-dismiss='modal', aria-hidden='true')
        svg(xmlns='http://www.w3.org/2000/svg', width='30', height='30', viewbox='0 0 30 30')
          metadata
            x:xmpmeta(xmlns:x='adobe:ns:meta/', x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01        ')
              rdf:rdf(xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#')
                rdf:description(rdf:about='')
          defs
          path.modal__close--icon(d='M1199.01,185.281l-0.72.732L1184,171.37l-14.29,14.643-0.72-.732,14.3-14.644-13.58-13.911,0.71-.732L1184,169.905l13.58-13.911,0.71,0.732-13.58,13.911Z', transform='translate(-1169 -156)')
      .test
        .row.justify-content-center.align-items-stretch
          .col-24
            form.contactForm(method="POST", action="mail/mail.php")
              .tabs.test__tabs
                each item, i in content.site.modal.test1.tabs.items
                  .tabs__item(class={"tabs__item--active" : i === 0})
                    if (item.icon)
                      i(class=item.icon)
                    h2.test__heading!= item.heading
                    .progressbar
                      .progressbar__status
                        span.progressbar__value(class={"progressbar__value--hidden" : i === 0})!= ~~(100 / (content.site.modal.test1.tabs.items.length - 1) * i) + "%"

                    if (item.slides)
                      .slides
                        p.slides__info.info
                          i.info__icon(class=item.slides.info.icon)
                          != item.slides.info.text
                        .slides__item
                          input.slides__control(id=item.slides.id, type="text", name=item.slides.name)
                    if (item.descr)
                      .tabs__text!= item.descr
                    if (item.radiobtns)
                      .row
                        each radio, j in item.radiobtns
                          .col-8.text-center
                            label(for="radio" + (j + 1))
                              img.radiobtns__img.img-fluid(src=radio.img.src, alt=radio.img.alt)
                            .radiobtns
                              if (j === 0)
                                input.radiobtns__control(id="radio" + (j + 1), type="radio", name=radio.name, value=radio.value, checked)
                              else
                                input.radiobtns__control(id="radio" + (j + 1), type="radio", name=radio.name, value=radio.value)
                              label.radiobtns__label(for="radio" + (j + 1))
                                span.radiobtns__check
                                != radio.value  
                    if (item.btns)
                      .button-group.text-center
                        if (item.btns.prev)
                          if (i > 0)
                            button.button.test__btn(class=item.btns.prev.class, href="#", data-tabs-control="prev")
                              .test__btn--text!= item.btns.prev.text
                              if (item.btns.prev.icon)
                                i(class=item.btns.prev.icon)
                        if (item.btns.next)
                          button.button.test__btn(class=item.btns.next.class, href="#", data-tabs-control="next")
                            .test__btn--text!= item.btns.next.text
                            if (item.btns.next.icon)
                              i(class=item.btns.next.icon)
                    if (item.formGroup)
                      .row
                        if (item.formGroup.inputs)
                          .form-group.form-group--relative.col-21.offset-3.col-md-11.offset-md-1
                            i.ic.ic--arrowvniz
                            if (item.formGroup.select)
                              select.select.select--dropdown(name=item.formGroup.select.name)
                                each option in item.formGroup.select.options
                                  option(value=option.text, data-content='<i class="' + option.icon + '"></i><span class="select2__info">'+ option.text +'</span>')!= option.text
                            each input in item.formGroup.inputs
                              input.form-control.form__input.form__phone.form__input--phone(type=input.type,  name=input.name, placeholder="+38 (___) ___-__-__", data-error="Введите телефон", required)
                        if (item.formGroup.submit)
                          .form-group.col-24.col-md-12
                            button.test__btn.form__btn.test__btn--submit(type="submit", name='form', value='Чертеж')!= item.formGroup.submit.text
                              i(class=item.formGroup.submit.icon)          