.project
  .container
    .row
      .col-24.col-lg-17.col-xl-16.offset-lg-2
        .heading.project__heading.heading--border
          .heading__text.heading__text--white!=content.index.project.heading
      .col-24
        .project__slider.slider.hidden-lg-up
          each slide in content.index.project.slides
            .slider__item
              .row
                .col-24.col-lg-12
                  .slider__image
                    a.slider__link.slider__fancybox(data-fancybox="images" + i, href=slide.image.src)
                      img.img-fluid.slider__img.slider__img--big(src=slide.image.src, alt=slide.image.alt)
                    each item in slide.gallery   
                      a.hidden-md-up.hidden-md-down.slider__link.slider__fancybox(data-fancybox="images" + i, href=item.src)
                        //-img.img-fluid.slider__img.slider__img--big(src=item.src, alt="Картинка")
                    .slider__thumb
                      button.btn.button.button--size.js-fancybox!=content.index.project.btn
                .col-24.col-lg-12
                  .project__info
                    .project__name!= slide.heading
                    .project__box
                      table.table.project__table
                        tbody
                          each item in slide.table
                            tr.project__row
                              td.project__data.project__data--left
                                i(class=item.left.icon)
                                != item.left.text
                              td.project__data.project__data--right!= item.right.text
                    .project__details
                      each item in slide.options
                        .project__elem
                          .project__elem--top!= item.name
                          .project__elem--bot!= item.value
        #example.hidden-md-down
          carousel-3d(:width="950",:height="585", :border="0", :clickable="false", :controls-visible="true", :perspective='0', :space='950', :display='3', :controls-width="40", :controls-height="80")
            each slide, i in content.index.project.slides
              slide(:index=(i))
                .slider__item
                  .row
                    .col-12
                      .slider__image
                        a.slider__link.slider__fancybox(data-fancybox="images" + i, href=slide.image.src)
                          img.img-fluid.slider__img.slider__img--big(src=slide.image.src, alt=slide.image.alt)
                        each item in slide.gallery   
                          a.hidden-md-up.hidden-md-down.slider__link.slider__fancybox(data-fancybox="images" + i, href=item.src)
                            //-img.img-fluid.slider__img.slider__img--big(src=item.src, alt="Картинка")
                        .slider__thumb
                          button.btn.button.button--size.js-fancybox!=content.index.project.btn
                    .col-12
                      .project__info
                        .project__name!= slide.heading
                        .project__box
                          table.table.project__table
                            tbody
                              each item in slide.table
                                tr.project__row
                                  td.project__data.project__data--left
                                    i(class=item.left.icon)
                                    != item.left.text
                                  td.project__data.project__data--right!= item.right.text
                        .project__details
                          each item in slide.options
                            .project__elem
                              .project__elem--top!= item.name
                              .project__elem--bot!= item.value  
