.scheme
  .container
    .row
      .col-24.col-lg-18.offset-lg-2
        .heading.scheme__heading.heading--border
          .heading__text!=content.index.scheme.heading
        .scheme__subheading!=content.index.scheme.subheading 
          i(class="ic ic--question about__icon" type="button" data-toggle="tooltip" data-animation="false" data-placement="bottom" title="Строительные нормы и правила (СНиП) — совокупность принятых органами исполнительной власти нормативных актов технического, экономического и правового характера, регламентирующих осуществление градостроительной деятельности, а также инженерных изысканий, архитектурно-строительного проектирования и строительства.")  
      .col-24.col-lg-4
        .scheme__date.date
          i.ic.ic--date.date__icon
          .date__info 
            .date__text!=content.index.scheme.date
            .date__number 26.03.2017  
  .container.scheme__container      
    .scheme__border
    .row
      each item, i in content.index.scheme.info.content
        .col-12.col-lg-6.scheme__col(class='scheme__col--' + (i + 1)) 
          .scheme__item.item
            .item__date
            .item__box(class='item__box--first-' + (i + 1)) 
              i.ic.item__icon(class="ic--scheme-" + (i + 1))
              .item__number!=item.number
            .item__text!=item.text
    .row.flex-lg-row-reverse
      each item, i in content.index.scheme.info.content1
        .col-12.col-lg-6.scheme__col(class='scheme__col--' + (i + 1)) 
          .scheme__item.item
            .item__date
            .item__box(class='item__box--second-' + (i + 1)) 
              i.ic.item__icon(class="ic--scheme-" + (i + 5))
              .item__number!=item.number
            .item__text!=item.text
                      
              
            