.worth
  .container
    .row
      .col-24.col-lg-20.offset-lg-2
        .heading.worth__heading.heading--border
          .heading__text!=content.index.worth.heading   
    .row
      .col-24.col-lg-20.offset-lg-2
        .row
          .col-24.col-lg-11
            .worth__image.worth--size
              each item, i in content.index.worth.items
                img.img-fluid.worth--size.worth__img(class={'worth__img--active' : i === 0}, src=item.img.src, alt=item.img.alt, data-switch=item.switch)
          .col-24.col-lg-13
            .worth__box
              .worth__title!=content.index.worth.title
                .worth__radio
                  each item, i in content.index.worth.control
                    .worth__radio-group.radio-btn
                      input.worth__radio-input(id='worth-btn-' + (i + 1), name='product_article[' + item.article + ']', type='checkbox')
                      label.worth__radio-label.worth__radio-label--check(for='worth-btn-' + (i + 1), tabindex='-1') 
                        span.worth__radio-icon
                        span.worth__point!= item.title
                .worth__details      
                  each item, i in content.index.worth.items
                    .worth__info(class={'worth__info--active' : i === 0}, data-switch=item.switch)
                      .worth__subtitle!=item.subtitle
                      each text in item.text
                        p.worth__descr.worth__descr--text!= text